* {
    font-family: 'Fira Sans', sans-serif;
}

#header {
    display: flex;
    flex-wrap: nowrap;
}
body{
    background-color: beige;
}
h1 {
    font-family: helvetica, arial, sans-serif;
    text-align:center;
    margin-top:-480px;
}



h2 {
    text-align: center !important;
    color: darkred !important;
    font-weight: bold !important;
    font-family: "Times New Roman";
    background-color: goldenrod;
}

h3 {
    font-family: "Times New Roman", arial, sans-serif;
    text-align:center;
    color: darkred;
}


.tooltip{
    text-anchor: middle;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    fill:black;
}

.domain {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
}

.footer1 {
    padding-top: 30px;
    background-color: goldenrod;
    color: darkred;
    font-family: "Times New Roman", sans-serif !important;
    font-weight: 200;
    font-size: 13px;
}
.xAxis path {
    stroke: black;
}

.yAxis path {
    stroke: black;
}